doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="index.css")
        link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
        title= title
    body.flex.min-h-screen.bg-gradient-to-br.from-blue-500.to-green-500
        // use (class="...") to use lg:, sm:, hover:, etc
        div(class="sm:rounded-xl sm:mx-auto sm:w-auto").w-screen.my-auto.bg-white.space-y-3.overflow-hidden.shadow-xl
            img.w-full(src="https://picsum.photos/600/300" alt="Random picture")
            // implicit div
            .p-3
                // embedded tags
                header.uppercase Press Ctrl+S to reload
                h1.text-3xl.text-gray-900.font-medium.tracking-wider #{title} 🎉
                ul.space-x-3
                    // iterations
                    each doc in docs
                        li.inline-block
                            a.text-blue-600(href=doc.url, target="_blank")= doc.api